.container-quiz{
    max-width: 900px;
    margin-right:auto ;
    margin-left: auto;
}
.navigation-container{
    position: fixed;
    bottom: 0;
}
.btn{
    min-width: 90px;
}
.question p:last-child{
    font-weight: bold;
}